.star-wall {
  position: fixed;
  overflow: hidden;
}
.star-position {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
.star-position .star-item:nth-child(1) {
  top: 20rem;
  left: 27rem;
  position: absolute;
  animation-delay: 19s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(1) {
    left: 34rem;
  }
}
.star-position .star-item:nth-child(2) {
  top: 39rem;
  left: 98rem;
  position: absolute;
  animation-delay: 39s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(2) {
    left: 17rem;
  }
}
.star-position .star-item:nth-child(3) {
  top: 32rem;
  left: 49rem;
  position: absolute;
  animation-delay: 1s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(3) {
    left: 12rem;
  }
}
.star-position .star-item:nth-child(4) {
  top: 45rem;
  left: 84rem;
  position: absolute;
  animation-delay: 47s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(4) {
    left: 36rem;
  }
}
.star-position .star-item:nth-child(5) {
  top: 25rem;
  left: 72rem;
  position: absolute;
  animation-delay: 12s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(5) {
    left: 33rem;
  }
}
.star-position .star-item:nth-child(6) {
  top: 44rem;
  left: 97rem;
  position: absolute;
  animation-delay: 27s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(6) {
    left: 57rem;
  }
}
.star-position .star-item:nth-child(7) {
  top: 24rem;
  left: 83rem;
  position: absolute;
  animation-delay: 32s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(7) {
    left: 5rem;
  }
}
.star-position .star-item:nth-child(8) {
  top: 37rem;
  left: 12rem;
  position: absolute;
  animation-delay: 6s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(8) {
    left: 57rem;
  }
}
.star-position .star-item:nth-child(9) {
  top: 1rem;
  left: 11rem;
  position: absolute;
  animation-delay: 44s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(9) {
    left: 35rem;
  }
}
.star-position .star-item:nth-child(10) {
  top: 12rem;
  left: 80rem;
  position: absolute;
  animation-delay: 26s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(10) {
    left: 21rem;
  }
}
.star-position .star-item:nth-child(11) {
  top: 4rem;
  left: 86rem;
  position: absolute;
  animation-delay: 37s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(11) {
    left: 36rem;
  }
}
.star-position .star-item:nth-child(12) {
  top: 9rem;
  left: 79rem;
  position: absolute;
  animation-delay: 49s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(12) {
    left: 53rem;
  }
}
.star-position .star-item:nth-child(13) {
  top: 18rem;
  left: 57rem;
  position: absolute;
  animation-delay: 37s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(13) {
    left: 54rem;
  }
}
.star-position .star-item:nth-child(14) {
  top: 4rem;
  left: 66rem;
  position: absolute;
  animation-delay: 32s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(14) {
    left: 63rem;
  }
}
.star-position .star-item:nth-child(15) {
  top: 35rem;
  left: 24rem;
  position: absolute;
  animation-delay: 15s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(15) {
    left: 38rem;
  }
}
.star-position .star-item:nth-child(16) {
  top: 41rem;
  left: 66rem;
  position: absolute;
  animation-delay: 26s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(16) {
    left: 57rem;
  }
}
.star-position .star-item:nth-child(17) {
  top: 42rem;
  left: 27rem;
  position: absolute;
  animation-delay: 18s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(17) {
    left: 5rem;
  }
}
.star-position .star-item:nth-child(18) {
  top: 5rem;
  left: 76rem;
  position: absolute;
  animation-delay: 41s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(18) {
    left: 22rem;
  }
}
.star-position .star-item:nth-child(19) {
  top: 16rem;
  left: 89rem;
  position: absolute;
  animation-delay: 26s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(19) {
    left: 2rem;
  }
}
.star-position .star-item:nth-child(20) {
  top: 5rem;
  left: 70rem;
  position: absolute;
  animation-delay: 11s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(20) {
    left: 63rem;
  }
}
.star-position .star-item:nth-child(21) {
  top: 14rem;
  left: 20rem;
  position: absolute;
  animation-delay: 27s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(21) {
    left: 8rem;
  }
}
.star-position .star-item:nth-child(22) {
  top: 13rem;
  left: 49rem;
  position: absolute;
  animation-delay: 10s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(22) {
    left: 60rem;
  }
}
.star-position .star-item:nth-child(23) {
  top: 45rem;
  left: 83rem;
  position: absolute;
  animation-delay: 29s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(23) {
    left: 53rem;
  }
}
.star-position .star-item:nth-child(24) {
  top: 4rem;
  left: 47rem;
  position: absolute;
  animation-delay: 20s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(24) {
    left: 59rem;
  }
}
.star-position .star-item:nth-child(25) {
  top: 5rem;
  left: 1rem;
  position: absolute;
  animation-delay: 4s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(25) {
    left: 38rem;
  }
}
.star-position .star-item:nth-child(26) {
  top: 4rem;
  left: 25rem;
  position: absolute;
  animation-delay: 48s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(26) {
    left: 49rem;
  }
}
.star-position .star-item:nth-child(27) {
  top: 37rem;
  left: 78rem;
  position: absolute;
  animation-delay: 41s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(27) {
    left: 47rem;
  }
}
.star-position .star-item:nth-child(28) {
  top: 2rem;
  left: 47rem;
  position: absolute;
  animation-delay: 41s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(28) {
    left: 20rem;
  }
}
.star-position .star-item:nth-child(29) {
  top: 8rem;
  left: 76rem;
  position: absolute;
  animation-delay: 41s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(29) {
    left: 51rem;
  }
}
.star-position .star-item:nth-child(30) {
  top: 19rem;
  left: 21rem;
  position: absolute;
  animation-delay: 23s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(30) {
    left: 27rem;
  }
}
.star-position .star-item:nth-child(31) {
  top: 36rem;
  left: 84rem;
  position: absolute;
  animation-delay: 36s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(31) {
    left: 35rem;
  }
}
.star-position .star-item:nth-child(32) {
  top: 42rem;
  left: 26rem;
  position: absolute;
  animation-delay: 27s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(32) {
    left: 19rem;
  }
}
.star-position .star-item:nth-child(33) {
  top: 20rem;
  left: 2rem;
  position: absolute;
  animation-delay: 32s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(33) {
    left: 10rem;
  }
}
.star-position .star-item:nth-child(34) {
  top: 9rem;
  left: 52rem;
  position: absolute;
  animation-delay: 42s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(34) {
    left: 31rem;
  }
}
.star-position .star-item:nth-child(35) {
  top: 21rem;
  left: 7rem;
  position: absolute;
  animation-delay: 22s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(35) {
    left: 14rem;
  }
}
.star-position .star-item:nth-child(36) {
  top: 11rem;
  left: 45rem;
  position: absolute;
  animation-delay: 35s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(36) {
    left: 42rem;
  }
}
.star-position .star-item:nth-child(37) {
  top: 4rem;
  left: 35rem;
  position: absolute;
  animation-delay: 22s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(37) {
    left: 44rem;
  }
}
.star-position .star-item:nth-child(38) {
  top: 20rem;
  left: 84rem;
  position: absolute;
  animation-delay: 27s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(38) {
    left: 29rem;
  }
}
.star-position .star-item:nth-child(39) {
  top: 44rem;
  left: 100rem;
  position: absolute;
  animation-delay: 3s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(39) {
    left: 46rem;
  }
}
.star-position .star-item:nth-child(40) {
  top: 7rem;
  left: 22rem;
  position: absolute;
  animation-delay: 10s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(40) {
    left: 58rem;
  }
}
.star-position .star-item:nth-child(41) {
  top: 19rem;
  left: 25rem;
  position: absolute;
  animation-delay: 38s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(41) {
    left: 54rem;
  }
}
.star-position .star-item:nth-child(42) {
  top: 23rem;
  left: 95rem;
  position: absolute;
  animation-delay: 48s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(42) {
    left: 28rem;
  }
}
.star-position .star-item:nth-child(43) {
  top: 36rem;
  left: 68rem;
  position: absolute;
  animation-delay: 50s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(43) {
    left: 63rem;
  }
}
.star-position .star-item:nth-child(44) {
  top: 21rem;
  left: 17rem;
  position: absolute;
  animation-delay: 21s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(44) {
    left: 36rem;
  }
}
.star-position .star-item:nth-child(45) {
  top: 34rem;
  left: 94rem;
  position: absolute;
  animation-delay: 14s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(45) {
    left: 22rem;
  }
}
.star-position .star-item:nth-child(46) {
  top: 35rem;
  left: 7rem;
  position: absolute;
  animation-delay: 20s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(46) {
    left: 10rem;
  }
}
.star-position .star-item:nth-child(47) {
  top: 15rem;
  left: 4rem;
  position: absolute;
  animation-delay: 38s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(47) {
    left: 37rem;
  }
}
.star-position .star-item:nth-child(48) {
  top: 25rem;
  left: 98rem;
  position: absolute;
  animation-delay: 45s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(48) {
    left: 51rem;
  }
}
.star-position .star-item:nth-child(49) {
  top: 43rem;
  left: 68rem;
  position: absolute;
  animation-delay: 48s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(49) {
    left: 6rem;
  }
}
.star-position .star-item:nth-child(50) {
  top: 9rem;
  left: 80rem;
  position: absolute;
  animation-delay: 47s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(50) {
    left: 34rem;
  }
}
.star-position .star-item:nth-child(51) {
  top: 45rem;
  left: 91rem;
  position: absolute;
  animation-delay: 22s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(51) {
    left: 21rem;
  }
}
.star-position .star-item:nth-child(52) {
  top: 8rem;
  left: 63rem;
  position: absolute;
  animation-delay: 27s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(52) {
    left: 14rem;
  }
}
.star-position .star-item:nth-child(53) {
  top: 20rem;
  left: 49rem;
  position: absolute;
  animation-delay: 33s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(53) {
    left: 16rem;
  }
}
.star-position .star-item:nth-child(54) {
  top: 45rem;
  left: 74rem;
  position: absolute;
  animation-delay: 49s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(54) {
    left: 12rem;
  }
}
.star-position .star-item:nth-child(55) {
  top: 12rem;
  left: 18rem;
  position: absolute;
  animation-delay: 8s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(55) {
    left: 15rem;
  }
}
.star-position .star-item:nth-child(56) {
  top: 37rem;
  left: 67rem;
  position: absolute;
  animation-delay: 1s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(56) {
    left: 23rem;
  }
}
.star-position .star-item:nth-child(57) {
  top: 41rem;
  left: 81rem;
  position: absolute;
  animation-delay: 27s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(57) {
    left: 59rem;
  }
}
.star-position .star-item:nth-child(58) {
  top: 5rem;
  left: 91rem;
  position: absolute;
  animation-delay: 7s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(58) {
    left: 44rem;
  }
}
.star-position .star-item:nth-child(59) {
  top: 14rem;
  left: 45rem;
  position: absolute;
  animation-delay: 7s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(59) {
    left: 39rem;
  }
}
.star-position .star-item:nth-child(60) {
  top: 33rem;
  left: 51rem;
  position: absolute;
  animation-delay: 33s;
  transform: scale(0.02);
}
@media screen and (max-width: 480px) {
  .star-position .star-item:nth-child(60) {
    left: 63rem;
  }
}
.star-position .star {
  width: 0px;
  height: 0px;
  margin: 50px 0;
  position: relative;
  display: block;
  color: #ffd700;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #ffd700;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
  animation: anim-star-small 5s ease-in-out infinite;
}
.star-position .star:before {
  border-bottom: 80px solid #ffd700;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.star-position .star:after {
  position: absolute;
  display: block;
  color: #ffd700;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #ffd700;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
}
@-moz-keyframes anim-star-small {
  0% {
    transform: scale(0.035);
    filter: drop-shadow(0px 0px 40px #ff0);
  }
  50% {
    transform: scale(0.02);
    filter: drop-shadow(0px 0px 30px #ff0);
  }
  100% {
    transform: scale(0.035);
    filter: drop-shadow(0px 0px 40px #ff0);
  }
}
@-webkit-keyframes anim-star-small {
  0% {
    transform: scale(0.035);
    filter: drop-shadow(0px 0px 40px #ff0);
  }
  50% {
    transform: scale(0.02);
    filter: drop-shadow(0px 0px 30px #ff0);
  }
  100% {
    transform: scale(0.035);
    filter: drop-shadow(0px 0px 40px #ff0);
  }
}
@-o-keyframes anim-star-small {
  0% {
    transform: scale(0.035);
    filter: drop-shadow(0px 0px 40px #ff0);
  }
  50% {
    transform: scale(0.02);
    filter: drop-shadow(0px 0px 30px #ff0);
  }
  100% {
    transform: scale(0.035);
    filter: drop-shadow(0px 0px 40px #ff0);
  }
}
@keyframes anim-star-small {
  0% {
    transform: scale(0.035);
    filter: drop-shadow(0px 0px 40px #ff0);
  }
  50% {
    transform: scale(0.02);
    filter: drop-shadow(0px 0px 30px #ff0);
  }
  100% {
    transform: scale(0.035);
    filter: drop-shadow(0px 0px 40px #ff0);
  }
}
