.star-wall {
  position: fixed;
  overflow: hidden;
}
.star-position {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
.star-position .star-item:nth-child(1) {
  top: 20rem;
  left: 71rem;
  position: absolute;
  animation-delay: 7s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(2) {
  top: 45rem;
  left: 38rem;
  position: absolute;
  animation-delay: 3s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(3) {
  top: 16rem;
  left: 70rem;
  position: absolute;
  animation-delay: 34s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(4) {
  top: 1rem;
  left: 59rem;
  position: absolute;
  animation-delay: 48s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(5) {
  top: 31rem;
  left: 61rem;
  position: absolute;
  animation-delay: 32s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(6) {
  top: 20rem;
  left: 55rem;
  position: absolute;
  animation-delay: 33s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(7) {
  top: 45rem;
  left: 86rem;
  position: absolute;
  animation-delay: 31s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(8) {
  top: 37rem;
  left: 91rem;
  position: absolute;
  animation-delay: 20s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(9) {
  top: 15rem;
  left: 73rem;
  position: absolute;
  animation-delay: 10s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(10) {
  top: 42rem;
  left: 96rem;
  position: absolute;
  animation-delay: 8s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(11) {
  top: 26rem;
  left: 26rem;
  position: absolute;
  animation-delay: 42s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(12) {
  top: 13rem;
  left: 63rem;
  position: absolute;
  animation-delay: 23s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(13) {
  top: 1rem;
  left: 46rem;
  position: absolute;
  animation-delay: 44s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(14) {
  top: 11rem;
  left: 50rem;
  position: absolute;
  animation-delay: 30s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(15) {
  top: 44rem;
  left: 33rem;
  position: absolute;
  animation-delay: 22s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(16) {
  top: 2rem;
  left: 73rem;
  position: absolute;
  animation-delay: 48s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(17) {
  top: 30rem;
  left: 78rem;
  position: absolute;
  animation-delay: 22s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(18) {
  top: 10rem;
  left: 94rem;
  position: absolute;
  animation-delay: 38s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(19) {
  top: 8rem;
  left: 25rem;
  position: absolute;
  animation-delay: 2s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(20) {
  top: 3rem;
  left: 19rem;
  position: absolute;
  animation-delay: 35s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(21) {
  top: 30rem;
  left: 17rem;
  position: absolute;
  animation-delay: 13s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(22) {
  top: 44rem;
  left: 92rem;
  position: absolute;
  animation-delay: 13s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(23) {
  top: 27rem;
  left: 87rem;
  position: absolute;
  animation-delay: 18s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(24) {
  top: 23rem;
  left: 81rem;
  position: absolute;
  animation-delay: 37s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(25) {
  top: 13rem;
  left: 5rem;
  position: absolute;
  animation-delay: 41s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(26) {
  top: 17rem;
  left: 55rem;
  position: absolute;
  animation-delay: 26s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(27) {
  top: 23rem;
  left: 62rem;
  position: absolute;
  animation-delay: 28s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(28) {
  top: 16rem;
  left: 8rem;
  position: absolute;
  animation-delay: 19s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(29) {
  top: 30rem;
  left: 59rem;
  position: absolute;
  animation-delay: 48s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(30) {
  top: 43rem;
  left: 36rem;
  position: absolute;
  animation-delay: 24s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(31) {
  top: 30rem;
  left: 67rem;
  position: absolute;
  animation-delay: 46s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(32) {
  top: 30rem;
  left: 14rem;
  position: absolute;
  animation-delay: 15s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(33) {
  top: 42rem;
  left: 26rem;
  position: absolute;
  animation-delay: 45s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(34) {
  top: 24rem;
  left: 43rem;
  position: absolute;
  animation-delay: 49s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(35) {
  top: 44rem;
  left: 91rem;
  position: absolute;
  animation-delay: 20s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(36) {
  top: 15rem;
  left: 35rem;
  position: absolute;
  animation-delay: 41s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(37) {
  top: 26rem;
  left: 9rem;
  position: absolute;
  animation-delay: 10s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(38) {
  top: 29rem;
  left: 62rem;
  position: absolute;
  animation-delay: 35s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(39) {
  top: 25rem;
  left: 83rem;
  position: absolute;
  animation-delay: 30s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(40) {
  top: 38rem;
  left: 60rem;
  position: absolute;
  animation-delay: 23s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(41) {
  top: 38rem;
  left: 42rem;
  position: absolute;
  animation-delay: 7s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(42) {
  top: 1rem;
  left: 69rem;
  position: absolute;
  animation-delay: 25s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(43) {
  top: 45rem;
  left: 76rem;
  position: absolute;
  animation-delay: 42s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(44) {
  top: 40rem;
  left: 95rem;
  position: absolute;
  animation-delay: 16s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(45) {
  top: 36rem;
  left: 69rem;
  position: absolute;
  animation-delay: 44s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(46) {
  top: 14rem;
  left: 35rem;
  position: absolute;
  animation-delay: 21s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(47) {
  top: 22rem;
  left: 9rem;
  position: absolute;
  animation-delay: 21s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(48) {
  top: 15rem;
  left: 87rem;
  position: absolute;
  animation-delay: 29s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(49) {
  top: 36rem;
  left: 92rem;
  position: absolute;
  animation-delay: 8s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(50) {
  top: 22rem;
  left: 89rem;
  position: absolute;
  animation-delay: 9s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(51) {
  top: 39rem;
  left: 27rem;
  position: absolute;
  animation-delay: 49s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(52) {
  top: 42rem;
  left: 25rem;
  position: absolute;
  animation-delay: 44s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(53) {
  top: 13rem;
  left: 77rem;
  position: absolute;
  animation-delay: 30s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(54) {
  top: 15rem;
  left: 11rem;
  position: absolute;
  animation-delay: 32s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(55) {
  top: 26rem;
  left: 74rem;
  position: absolute;
  animation-delay: 3s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(56) {
  top: 35rem;
  left: 19rem;
  position: absolute;
  animation-delay: 8s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(57) {
  top: 22rem;
  left: 92rem;
  position: absolute;
  animation-delay: 24s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(58) {
  top: 29rem;
  left: 4rem;
  position: absolute;
  animation-delay: 18s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(59) {
  top: 28rem;
  left: 89rem;
  position: absolute;
  animation-delay: 36s;
  transform: scale(0.02);
}
.star-position .star-item:nth-child(60) {
  top: 36rem;
  left: 20rem;
  position: absolute;
  animation-delay: 3s;
  transform: scale(0.02);
}
.star-position .star {
  width: 0px;
  height: 0px;
  margin: 50px 0;
  position: relative;
  display: block;
  color: #ffd700;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #ffd700;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
  animation: anim-star-small 5s ease-in-out infinite;
}
.star-position .star:before {
  border-bottom: 80px solid #ffd700;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.star-position .star:after {
  position: absolute;
  display: block;
  color: #ffd700;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #ffd700;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
}
@-moz-keyframes anim-star-small {
  0% {
    transform: scale(0.035);
    filter: drop-shadow(0px 0px 40px #ff0);
  }
  50% {
    transform: scale(0.02);
    filter: drop-shadow(0px 0px 30px #ff0);
  }
  100% {
    transform: scale(0.035);
    filter: drop-shadow(0px 0px 40px #ff0);
  }
}
@-webkit-keyframes anim-star-small {
  0% {
    transform: scale(0.035);
    filter: drop-shadow(0px 0px 40px #ff0);
  }
  50% {
    transform: scale(0.02);
    filter: drop-shadow(0px 0px 30px #ff0);
  }
  100% {
    transform: scale(0.035);
    filter: drop-shadow(0px 0px 40px #ff0);
  }
}
@-o-keyframes anim-star-small {
  0% {
    transform: scale(0.035);
    filter: drop-shadow(0px 0px 40px #ff0);
  }
  50% {
    transform: scale(0.02);
    filter: drop-shadow(0px 0px 30px #ff0);
  }
  100% {
    transform: scale(0.035);
    filter: drop-shadow(0px 0px 40px #ff0);
  }
}
@keyframes anim-star-small {
  0% {
    transform: scale(0.035);
    filter: drop-shadow(0px 0px 40px #ff0);
  }
  50% {
    transform: scale(0.02);
    filter: drop-shadow(0px 0px 30px #ff0);
  }
  100% {
    transform: scale(0.035);
    filter: drop-shadow(0px 0px 40px #ff0);
  }
}
