body
    height 100vh
    font-size: 10vw
    display: flex
    justify-content: center
    align-items: center
    background: linear-gradient(to bottom,  #38557d 0%,#3a527e 27%,#828e9a 63%,#ceb8a0 77%,#c68325 100%);
    color: white
