@import'ress'

body
    width: 100vw
    height 100vh
    background: white
    .container
        width 100%
        height 100%
        position: relative
        .time
            position: absolute
            width: 100%
            height: 100%
            display: flex
            justify-content: center
            align-items: center
            #time
                font-size: 12vw
                color: white
